# BoxLang Desktop Starter
APPNAME=BoxLang Starter Desktop
ENVIRONMENT=development

# Vite integration
VITE_HOST=127.0.0.1:3000
VITE_PROTOCOL=http

# Boxlang Overrides
BOXLANG_DEBUG=true
BOXLANG_HOME=./.boxlang
BOXLANG_CONFIG=./.boxlang-dev.json
BOXLANG_PORT=59700
